!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    = yield :head
  
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %title Good Ventures - A Nonprofit Incubator
    = javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery?
    = stylesheet_link_tag 'compiled/default.css'
  %body
    #container
      .logo
        = image_tag("good_ventures_logo.png", :border => "0")
        
      %p
        Good Ventures is a project of the Gwendolyn Strong Foundation, a 501(c)(3) nonprofit organization. Our mission is to locate, foster, support, and pair socially minded Web entrepreneurs with nonprofit funding sources that, together, can effect change in the world through the Web. Run as a nonprofit micro-incubator, Good Ventures was created to ensure that the countless Kivas, CaringBridges, and Wikipedias waiting in obscurity can find the resources, guidance, and support needed to take that first, challenging step towards turning their good idea into a game changing nonprofit reality.
    
      %p
        We will be accepting applications for our 
        %b 2010 Inaugural Program 
        shortly.  For donation or sponsorship information, please contact Bill at 
        = mail_to("bill@goodventures.org"), "."
        If you are interested in mentoring the next generation of game changing web entrepreneurs, please contact Josh at 
        = mail_to("josh@goodventures.org"), "."
        
      .covers
        .cover
          = link_to image_tag("cover_onepager.png", :border => "0"), "library/good_ventures_onepager.pdf"
        
        .cover
          = link_to image_tag("cover_handout.png", :border => "0"), "library/good_ventures_handout.pdf"
                
        
    #footer
      A Project Of The 
      = link_to "Gwendolyn Strong Foundation", "http://www.gwendolynstrongfoundation.org"
      %br
      A Registered 501(c)3 Public Charity.  Federal EIN: 26-4734446
